<Layouts.app flash={@flash}>
  <.header>
    {@page_title}
    <:subtitle>Use this form to manage repository records in your database.</:subtitle>
  </.header>

  <.form for={@form} id="repository-form" phx-change="validate" phx-submit="save">
    <.input field={@form[:name]} type="text" label="Name" />

    <%= if @live_action == :new do %>
      <.input
        field={@form[:type]}
        type="select"
        label="Type"
        prompt="Select repository type"
        options={@repository_types}
      />

      <.input
        field={@form[:package_type]}
        type="select"
        label="Package"
        prompt="Select package type"
        options={@package_types}
      />
    <% end %>

    <%= if @show_url do %>
      <.input field={@form[:url]} type="text" label="Remote URL" />
    <% end %>

    <%= if @show_repositories do %>
      <.input
        field={@form[:repositories]}
        type="select"
        label="Repositories"
        multiple
        options={@repositories}
      />
    <% end %>

    <footer>
      <.button phx-disable-with="Saving..." variant="primary">Save Repository</.button>
      <.button navigate={return_path(@return_to, @repository)}>Cancel</.button>
    </footer>
  </.form>
</Layouts.app>
